# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:  
List popular languages for Data Science  
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. tensorflow
2. Pandas
3. matplotlib

| Data Science Tools |
| -------------- |
|IBM watson studio|
| rstudio |
| jupyterlab |

### Below are a few examples of evaluating arithmetic expressions in Python
```python
print(7+6)
print(4*8)
print(6/3)
print(10-2)
```

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Oluwakorede Onasanya